
:root {
	--primary-color: darkviolet;
	--secondary-color: darkblue;
	--primary-grad-color: linear-gradient(to left,darkviolet,deepskyblue);
}

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	position: relative;
}

/*@Start Header*/
header{
	height: 90vh;
	background: var(--primary-grad-color);
	position: relative;
}
/*>start headerintros*/

.headerintros {
	background-color: var(--primary-color);
	color: #f4f4f4;
	padding: 15px 0;
	display: none;
	position: relative;}
@media (min-width: 1200px) {
	.headerintros {
		display: block;
	}
}

.infos {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 14px;
	font-weight: bold;
}
.headericons a{

	margin: 0 10px;
}

.menustyle li a{
	font-size: 13px;
	letter-spacing: 1.5px;
	transition: 0.5s;
}
.menustyle li a:hover{

	color: var(--primary-color);
	text-shadow: 1px 1px 2px var(--primary-color);
	
}
.navbutton{
	border: none;
}
.navbutton:focus{
	box-shadow: none;
}
.line1,.line2,.line3{
	width: 17px;
	height: 2px;
	margin: 3px;
}
.crossxs .line1{
	transform: rotate(-45deg) translate(-3px,4px);
}
.crossxs .line2{
	opacity: 0;
}
.crossxs .line3{
	transform: rotate(45deg) translate(-3px,-4px);
}
/*>end headerintros*/

/*-start banner*/
.banner{
	width: 90%;
	position: absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.bannerheaders{
	font-weight: bold;
	letter-spacing: 3px;
	animation: bananis 2s;
}
.bannerparagraphs,.bannerbtn{
	animation: bananis 2s backwards 0.5s;
}
@keyframes bananis{
	from{
		transform: translate(60px);
		opacity: 0;
	}
	to{
		transform: 0;
		opacity: 1;
	}
}
/*-end banner*/

.headerimg{
	width: 50%;
	position: absolute;
	left: 0;
	bottom: 0;
}
.headerwave{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -15px;
	z-index: 2;
	margin-bottom: 15px;
}
/*End header*/

/*Start Counter*/
.counters{
	width: 100%;
	font-weight: bolder;
	letter-spacing: 2px;
}
.counters .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.counteritems{
	text-align: center;
	padding-right: 30px;
	border-right: 2px solid rgba(0, 0, 0, 0.4);
}
.counteritems:nth-of-type(4){
	border-right: none;
}
.counteritems .fa-solid{
	background: var(--primary-grad-color);
	color: transparent;
	-webkit-background-clip: text;
}
.counteritems h5{
	font-size: 16px;
}


/*End Counter*/

/*Start About*/
.aboutuss{
	background: linear-gradient(
		rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('./assets/img/banner/banner4.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0;
}
.aboutuss ul li{
	list-style: none;
	background: var(--secondary-color);
	margin-bottom: 5px;
}
/*End About*/

/* Start Faculty */
.faculty{
	background: var(--secondary-color);
}
@media (max-width: 770px){
	.flip-cards{
		width: 300px;
		height: 300px;
		scale: 0.7;
	}
}
.flip-cards{
	width: 300px;
		height: 300px;
	
	perspective: 1000px;
}



.flip-card-inners{
	width: 100%;
	height: 100%;
	text-align: center;
	box-shadow: 10px 0 10px rgba(0, 0, 0, 0.5);
	transform: rotateY(-45deg) scale(0.7);
	transform-style: preserve-3d;
	transition: 0.5s;
}
.flip-cards:hover .flip-card-inners{
	transform: rotateY(180deg);
}
.flip-card-front,.flip-card-back{
	widows: 100%;
	height: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.flip-card-back{
	background: var(--primary-color);
	transform: rotateY(180deg);
}

.socialicons a{
	text-decoration: none;
	border: 1px solid #f4f4f4;
	padding: 5px;
	margin: 5px;
	background-color: #eee;
}
.socialicons a:hover{
	background-color: blue;
}
/* End Faculty */

/* Start Pricing */

.pricingboxes{
	background-color: #eee;
	text-align: center;
	transition: transform 0.3s;
	padding: 10px;
}
.pricingboxes:hover{
	transform: translateY(-30px);
}
.pricing-headers{
	background-color: var(--primary-color);
	color: #f1f1f1;
	padding: 10px 0;
}
.prices{
	font-size: 3rem;
	font-weight: bold;
	background: url('./assets/img/icon/pricebg.png') no-repeat center;
	line-height: 150px;
}
.price-items li{
	margin: 10px 0;
}
/* End pricing */

/* Start Location */
.libcards{
	perspective: 1000px;
	position: relative;
}
.libcards img{
	width: 100%;
	height: 100%;
}
.libcontents{
	width: 0%;
	height: 100%;
	background-color: #444;
	color: #f1f1f1;
	position: absolute;
	left: 0;
	top: 0;
	transform: rotateY(-90deg);
	transform-origin: left center;
	transition: all 0.5s;
	overflow: hidden;
}
.libcards:hover .libcontents{
	width: 80%;
	transform: rotate(0);
}
.btn-infos{
	width: 50%;
	background-color: var(--primary-color);
	color: #f1f1f1;
	text-align: center;
	text-decoration: none;
	position: absolute;
	left: 10px;
	bottom: 10px;
}
.btn-infos:hover{
	background-color: var(--secondary-color);
	color: #f1f1f1;
}
/*End Location*/

/*Start Feature*/
.features{
	background: var(--secondary-color);
}
.fea-icons img{
	max-width: 100%;
	scale: 0.5;
	rotate: 0;
	transition: .5s;
}
.fea-icons:hover img{
	rotate: 1turn;
	scale: 1;
}
.fea-icons p{
	font-size: 12px;
}
/*End Feature*/

/*start Rating*/
.headings{
	font-size: 25px;
	margin-right: 25px;
}
#piechart{
	width: 600px;
	height: 400px;
	margin: 70px 0 -100px 50px;
	scale: 1.5;
}

@media (min-width: 768px){
	#piechart{
		width: 350px;
		height: 300px;
		margin: 0 0 0 -50px;
		scale: 1;
	}
}
.fa-star{
	font-size: 25px;
}
.fills{
	color: gold;
}
.rows{
	display: flex;
	flex-wrap: wrap;
}
.lefts{
	width: 20%;
}
.middles{
	width: 60%;
	margin-bottom: 20px;
}
.rights{
	width: 20%;
	text-align: right;
}
.bars-container{
	width: 100%;
	height: 18px;
	background: lightblue;
}
.bars-1{
	width: 55%;
	height: 18px;
	background: green;
}
.bars-2{
	width: 30%;
	height: 18px;
	background: var(--primary-color);
}
.bars-3{
	width: 5%;
	height: 18px;
	background: coral;
}
.bars-4{
	width: 2%;
	height: 18px;
	background: orange;
}
.bars-5{
	width: 8%;
	height: 18px;
	background: var(--secondary-color);
}
/*End Rating*/
/*google chart api > pie chart*/

/*Start Register*/
.subscribes{
	background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.2)), url('./assets/img/etc/student1.png');
	background-repeat: no-repeat;
	background-position: 90%;
}

@media (max-width:  992px){
	.subscribes{
		background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.2));
	}
}
/*animation*/
.square-containers{
	
	position: relative;
		overflow: hidden;
}
.square-box{
	width: 100%;
	height: 100%;

}
.square{
	width: 100px;
	height: 100px;
	background: #f2f2f2;
	position: absolute;
	left: 5%;
	bottom: -100%;
	animation: squareani 3s infinite ease-in-out;
}
.square:nth-of-type(2){
	width: 30px;
	height: 30px;
	left: 15%;
	animation-delay: 1s;
}
.square:nth-of-type(3){
	width: 70px;
	height: 70px;
	left: 25%;
	animation-delay: .7s;
}
.square:nth-of-type(4){
	width: 50px;
	height: 50px;
	left: 35%;
	animation-delay: .5s;
}
.square:nth-of-type(5){
	width: 90px;
	height: 90px;
	left: 45%;
	animation-delay: 2s;
}
.square:nth-of-type(6){
	width: 70px;
	height: 70px;
	left: 65%;
}
.square:nth-of-type(7){
	width: 40px;
	height: 40px;
	left: 75%;
	animation-delay: .5s;
}
.square:nth-of-type(8){
	width: 80px;
	height: 80px;
	left: 85%;
	animation-delay: 1.5s;
}
.square:nth-of-type(9){
	width: 40px;
	height: 40px;
	left: 89%;
	animation-delay: .8s;
}

.square:nth-of-type(10){
	width: 90px;
	height: 90px;
	left: 95%;
	animation-delay: 1.5s;
}

@keyframes squareani{
	0%{
		bottom: -100%;
	}
	100%{
		bottom: 100%;
		rotate:  180deg;
		opacity: 0;
	}
}
/*End Register*/

/*Footer*/
.footer-links{
	color: #eee;
	font-size: 13px;
	text-decoration: none;
}
.footer-links:hover{
	color: orangered;
	border-bottom: 1px solid orangered;
	letter-spacing: 1px;
}
.footers .socialicons a{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #f4f4f4;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	padding: 0;
}
.footers .socialicons a:hover{
	background: var(--primary-color);
}

.backtotop-btn{
	background-color: #333;
	color: #f1f1f1;
	padding: 10px;
}
.bacttotop-btn:hover{
	background-color: #555;
}

/* Start Stick Note */

.sticknotes a{
	font-size: 20px;
	width: 100px;
	background-color: steelblue;
	color: #fff;
	text-decoration: none;
	border-radius: 0 5px 5px 0;
	position: fixed;
	padding: 10px;
	left: -80px;
	z-index: 100;
	transition: 0.3s;
}
.sticknotes a:hover{
	left: 0;
}
.sticknotes .aboutus{
	top: 200px;
	background-color: orangered;
}
.sticknotes .pages{
	top: 260px;
	background-color: orange;
}
.sticknotes .news{
	top: 320px;
	background-color: tomato;
}
.sticknotes .contacts{
	top: 380px;
	background-color: rosybrown;
}
/* End Stick Note */

/* Start Login Btn */
.open-btn{
	width: 50px;
	height: 50px;
	color: #f1f1f1;
	background: #555;
	border: none;
	border-radius: 50%;
	position: fixed;
	right: 15px;
	bottom: 10px;
	z-index: 100;
	opacity: 0.8;
	transition: 0.3s;
}
.open-btn:hover{
	opacity: 1;
}
	/*Start Form Popup */
	.form-popup{
		display: none;
		background-color: #f1f1f1;
		border: 3px solid #f1f1f1;
		position: fixed;
		right: 5px;
		bottom: 70px;
		z-index: 100;
		transition: all 1s;
	}
	.form-container{
		width: 300px;
		padding: 10px;
	}
	.form-group input[type=email], .form-group input[type=password]{
		width: 100%;
		background-color: #f1f1f1;
		border: none;
		padding: 15px;
		margin: 10px 0;
	}
	.form-group input[type=email]:focus, .form-group input[type=password]:focus{
		background-color: #ccc;
		border: none;
		outline: none;
	}
	/*End Form Popup */

/* End Login Btn */

